:root {
    --bg-color: #1f242d;
    --text-color: #fff;
    --main-color: #0ef;
    --second-bg-color: #323946;
  }
  .header{
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: var(--bg-color);
  }
  
  .logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor:default;
  }
  
  .navbar a{
    color: var(--text-color);
    margin-left: 4rem;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55 ease;
  }

  .navbar a:hover, 
  .navbar a.active{
    color: var(--main-color);
  }